.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;

}

.header .logo{
    max-height: 40px;
}

.header .title-group{
    padding-left: 15px;
    
}

.header .title-group a{
    text-decoration: #14d31e ;
}

.header .title-group i{
    padding-right: 5px;
    color: rgb(69, 219, 31);
}