form{
    display:flex;
    flex-direction:column;
    width:22%;
}


button {
    margin-right: 0.625rem;
    margin-top: 0.625rem;
}


#regcad{
    background-color:green;
}

input{
    width:180px;
}