
<mat-card id="regcad">
    <mat-card class="login-card">
        <mat-card-title>Login</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput [(ngModel)]="email" placeholder="Email" name="email" required="true">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="senha" type="password" placeholder="Password"  name="senha" required="true">
            </mat-form-field>
        </form>
    </mat-card>


    <button (click)="fazerLogin()"   mat-raised-button color="primary" >
        Login
    </button>


    <button (click)="liberarCasdastro()" mat-raised-button color="accent">
        Registre-se
    </button>
</mat-card>
<mat-card class="cardcad" id="regcad" *ngIf="mostrarCadastro" >
    <app-cadastro></app-cadastro>
</mat-card>